#PANDAS

# Pandas Series
# Veri Okuma (Reading Data)
# Veriye Hızlı Bakış (Quick Look at Data)
# Pandas'ta Seçim İşlemleri (Selection in Pandas)
# Toplulaştırma ve Gruplama (Aggregation & Grouping)
# Apply ve Lambda
# Birleştirme (Join) İşlemleri

# Pandas Series

In [ ]:
import pandas as pd

s = pd.Series([10, 77, 12, 4, 5])
type(s)

pandas.core.series.Series

![image.png]()

In [ ]:
s.index

RangeIndex(start=0, stop=5, step=1)

RangeIndex(start=0, stop=5, step=1) sıfırdan başlıyor indeks, 5 e kadar 1 er 1er artıyor

In [ ]:
s.dtype

dtype('int64')

Pandas serisinin içinde bulunan eleman sayısı için .size

In [ ]:
s.size

5

boyut bilgisi için .ndim

In [ ]:
s.ndim

1

pandas serisindeki değerlere erişmek için .values

In [ ]:
s.values

array([10, 77, 12,  4,  5])

In [ ]:
type(s.values)

numpy.ndarray

pandas serisinin değerleri sorulduğunda indeks bilgisi göz önünde alınmadığı için numpy array olarak tip bilgisi elde ederiz.

In [ ]:
s.head()

0    10
1    77
2    12
3     4
4     5
dtype: int64

In [ ]:
s.head(3)

0    10
1    77
2    12
dtype: int64

In [ ]:
s.tail()

0    10
1    77
2    12
3     4
4     5
dtype: int64

In [ ]:
s.tail(3)

2    12
3     4
4     5
dtype: int64

# DataFrame Yapısı

In [ ]:
import numpy as np
df = pd.DataFrame(data = np.random.randint(0,10,(5,5)), index = ['A','B','C','D','E'],columns = ['Columns1','Columns2','Columns3','Columns4','Columns5'])

In [ ]:
df.head()

   Columns1  Columns2  Columns3  Columns4  Columns5
A         3         3         9         6         3
B         5         1         0         1         8
C         8         9         5         9         2
D         5         0         9         5         2
E         8         3         3         2         4

In [ ]:
#############################################
# Veri Okuma (Reading Data)
#############################################
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/yzl727/dataset.csv")
df.head()

,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
#############################################
# Veriye Hızlı Bakış (Quick Look at Data)
#############################################
df.tail()

,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9995,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9996,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9997,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9998,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,9999,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.columns

Index(['Unnamed: 0', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=10000, step=1)

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,10000.0,4.999500e+03,2886.895680,0.00,2499.75,4.999500e+03,7.499250e+03,9999.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

In [ ]:
df.isnull().values.any()

False

dataframe içerisinde herhangi bir value de null durumu var mı ? .values.any()

In [ ]:
df.isnull().sum()

Unnamed: 0         0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df["Age"].head()

0    42
1    41
2    42
3    39
4    43
Name: Age, dtype: int64

In [ ]:
df["Exited"].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [ ]:
#############################################
# Pandas'ta Seçim İşlemleri (Selection in Pandas)
#############################################
df.index

RangeIndex(start=0, stop=10000, step=1)

In [ ]:
df[0:13]

,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,5,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,6,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,7,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,8,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,9,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,10,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,11,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,12,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0

In [ ]:
df.drop(0, axis=0).head()

,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1,1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,5,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1

In [ ]:
delete_indexes = [1, 3, 5, 7]
df.drop(delete_indexes, axis=0).head(10)

,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
6,6,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
8,8,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,9,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,10,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,11,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,12,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,13,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0

#######################
# Değişkeni Indexe Çevirmek
#######################

In [ ]:
df["Age"].head()

0    42
1    41
2    42
3    39
4    43
Name: Age, dtype: int64

In [ ]:
df.Age.head()

0    42
1    41
2    42
3    39
4    43
Name: Age, dtype: int64

In [ ]:
df.index

RangeIndex(start=0, stop=10000, step=1)

In [ ]:
df.index = df["Age"]

In [ ]:
df.drop("Age", axis=1).head()

,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
Age,,,,,,,,,,,,,
42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1
41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0
42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1
39,3,15701354,Boni,699,France,Female,1,0.00,2,0,0,93826.63,0
43,4,15737888,Mitchell,850,Spain,Female,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.drop("Unnamed: 0", axis=1).head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
Age,,,,,,,,,,,,,
42,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
41,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
42,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
39,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
43,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.drop(["Surname","CreditScore"], axis=1)

,Unnamed: 0,CustomerId,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
Age,,,,,,,,,,,,
42,0,15634602,France,Female,42,2,0.00,1,1,1,101348.88,1
41,1,15647311,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
42,2,15619304,France,Female,42,8,159660.80,3,1,0,113931.57,1
39,3,15701354,France,Female,39,1,0.00,2,0,0,93826.63,0
43,4,15737888,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
39,9995,15606229,France,Male,39,5,0.00,2,1,0,96270.64,0
35,9996,15569892,France,Male,35,10,57369.61,1,1,1,101699.77,0
36,9997,15584532,France,Female,36,7,0.00,1,0,1,42085.58,1
42,9998,15682355,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
28,9999,15628319,France,Female,28,4,130142.79,1,1,0,38190.78,0

#######################
# Indexi Değişkene Çevirmek
#######################

In [ ]:
df.index

Int64Index([42, 41, 42, 39, 43, 44, 50, 29, 44, 27,
            ...
            33, 53, 36, 28, 29, 39, 35, 36, 42, 28],
           dtype='int64', name='Age', length=10000)

In [ ]:
df["Age"]

Age
42    42
41    41
42    42
39    39
43    43
      ..
39    39
35    35
36    36
42    42
28    28
Name: Age, Length: 10000, dtype: int64

In [ ]:
df.drop("Age", axis=1, inplace=True)

In [ ]:
df.head()

,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
Age,,,,,,,,,,,,,
42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1
41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0
42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1
39,3,15701354,Boni,699,France,Female,1,0.00,2,0,0,93826.63,0
43,4,15737888,Mitchell,850,Spain,Female,2,125510.82,1,1,1,79084.10,0

In [ ]:
data=df.reset_index().head()

In [ ]:
data.head()

,Age,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1
1,41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0
2,42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1
3,39,3,15701354,Boni,699,France,Female,1,0.00,2,0,0,93826.63,0
4,43,4,15737888,Mitchell,850,Spain,Female,2,125510.82,1,1,1,79084.10,0

#######################
# Değişkenler Üzerinde İşlemler
#######################

In [ ]:
"Age" in data

True

In [ ]:
data.head()

,Age,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1
1,41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0
2,42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1
3,39,3,15701354,Boni,699,France,Female,1,0.00,2,0,0,93826.63,0
4,43,4,15737888,Mitchell,850,Spain,Female,2,125510.82,1,1,1,79084.10,0

In [ ]:
data["Age"].head()

0    42
1    41
2    42
3    39
4    43
Name: Age, dtype: int64

In [ ]:
data.Age.head()

0    42
1    41
2    42
3    39
4    43
Name: Age, dtype: int64

In [ ]:
type(data["Age"].head())

pandas.core.series.Series

data["Age"] şekilde bir seçim yaptığımızda artık bu bir pandas serisidir.

In [ ]:
data[["Age"]].head()

   Age
0   42
1   41
2   42
3   39
4   43

data[["Age"]] şekilde iki tane köşeli parantez olarak yazarsak dataframe olarak elde ederiz.

In [ ]:
type(data[["Age"]].head())

pandas.core.frame.DataFrame

In [ ]:
data[["Age", "Surname"]]

   Age   Surname
0   42  Hargrave
1   41      Hill
2   42      Onio
3   39      Boni
4   43  Mitchell

In [ ]:
col_names = ["Age", "Surname", "Geography"]

In [ ]:
data[col_names]

   Age   Surname Geography
0   42  Hargrave    France
1   41      Hill     Spain
2   42      Onio    France
3   39      Boni    France
4   43  Mitchell     Spain

In [ ]:
data["Age2"] = data["Age"]**2

In [ ]:
data.head()

,Age,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age2
0,42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1,1764
1,41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0,1681
2,42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1,1764
3,39,3,15701354,Boni,699,France,Female,1,0.00,2,0,0,93826.63,0,1521
4,43,4,15737888,Mitchell,850,Spain,Female,2,125510.82,1,1,1,79084.10,0,1849

In [ ]:
data["Age3"] = data["Age"] / data["Age2"]
data.head()

,Age,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age2,Age3
0,42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1,1764,0.023810
1,41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0,1681,0.024390
2,42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1,1764,0.023810
3,39,3,15701354,Boni,699,France,Female,1,0.00,2,0,0,93826.63,0,1521,0.025641
4,43,4,15737888,Mitchell,850,Spain,Female,2,125510.82,1,1,1,79084.10,0,1849,0.023256

In [ ]:
data.drop("Age3", axis=1).head()

,Age,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age2
0,42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1,1764
1,41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0,1681
2,42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1,1764
3,39,3,15701354,Boni,699,France,Female,1,0.00,2,0,0,93826.63,0,1521
4,43,4,15737888,Mitchell,850,Spain,Female,2,125510.82,1,1,1,79084.10,0,1849

In [ ]:
data.drop(col_names, axis=1).head()

,Unnamed: 0,CustomerId,CreditScore,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age2,Age3
0,0,15634602,619,Female,2,0.00,1,1,1,101348.88,1,1764,0.023810
1,1,15647311,608,Female,1,83807.86,1,0,1,112542.58,0,1681,0.024390
2,2,15619304,502,Female,8,159660.80,3,1,0,113931.57,1,1764,0.023810
3,3,15701354,699,Female,1,0.00,2,0,0,93826.63,0,1521,0.025641
4,4,15737888,850,Female,2,125510.82,1,1,1,79084.10,0,1849,0.023256

#######################
# iloc & loc
#######################

In [ ]:
# iloc: integer based selection    indeks bilgisi vererek seçim yapma işlemidir.
data.iloc[0:3]

,Age,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age2,Age3
0,42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1,1764,0.02381
1,41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0,1681,0.02439
2,42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1,1764,0.02381

In [ ]:
data.iloc[0, 0]    #0 nci satır e sıfırıncı sütundaki elemanı seç

42

In [ ]:
# loc: label based selection
data.loc[0:3]      #label based olduğu için 3 dahil oluyor.

,Age,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age2,Age3
0,42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1,1764,0.023810
1,41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0,1681,0.024390
2,42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1,1764,0.023810
3,39,3,15701354,Boni,699,France,Female,1,0.00,2,0,0,93826.63,0,1521,0.025641

In [ ]:
data.iloc[0:3, 0:3]

   Age  Unnamed: 0  CustomerId
0   42           0    15634602
1   41           1    15647311
2   42           2    15619304

In [ ]:
data.iloc[0:3,"Age"]

ValueError: ignored

In [ ]:
data.loc[0:3, "Age"]

0    42
1    41
2    42
3    39
Name: Age, dtype: int64

In [ ]:
col_names = ["Age", "Surname", "Geography"]
data.loc[0:3, col_names]

   Age   Surname Geography
0   42  Hargrave    France
1   41      Hill     Spain
2   42      Onio    France
3   39      Boni    France

#######################
# Koşullu Seçim (Conditional Selection)
#######################

Yaşı 20 nin üzerinde olanları seçelim.

In [ ]:
data[data["Age"] > 20].head()

,Age,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age2,Age3
0,42,0,15634602,Hargrave,619,France,Female,2,0.00,1,1,1,101348.88,1,1764,0.023810
1,41,1,15647311,Hill,608,Spain,Female,1,83807.86,1,0,1,112542.58,0,1681,0.024390
2,42,2,15619304,Onio,502,France,Female,8,159660.80,3,1,0,113931.57,1,1764,0.023810
3,39,3,15701354,Boni,699,France,Female,1,0.00,2,0,0,93826.63,0,1521,0.025641
4,43,4,15737888,Mitchell,850,Spain,Female,2,125510.82,1,1,1,79084.10,0,1849,0.023256

yaşı 20 den büyük olan kaç kişi var

In [ ]:
data[data["Age"] > 20].count()

Age                5
Unnamed: 0         5
CustomerId         5
Surname            5
CreditScore        5
Geography          5
Gender             5
Tenure             5
Balance            5
NumOfProducts      5
HasCrCard          5
IsActiveMember     5
EstimatedSalary    5
Exited             5
Age2               5
Age3               5
dtype: int64

In [ ]:
data[data["Age"] > 20]["Age"].count()

5

In [ ]:
data.loc[data["Age"] > 20, ["Age","CreditScore", "Geography"]].head()

   Age  CreditScore Geography
0   42          619    France
1   41          608     Spain
2   42          502    France
3   39          699    France
4   43          850     Spain

In [ ]:
data.loc[(data["Age"] > 20) & (data["Gender"]=="Female"), ["Gender", "Age","CreditScore", "Geography"]].head()

   Gender  Age  CreditScore Geography
0  Female   42          619    France
1  Female   41          608     Spain
2  Female   42          502    France
3  Female   39          699    France
4  Female   43          850     Spain

In [ ]:
data["HasCrCard"].value_counts()

1    3
0    2
Name: HasCrCard, dtype: int64

#############################################
# Toplulaştırma ve Gruplama (Aggregation & Grouping)
#############################################

# - count()
# - first()
# - last()
# - mean()
# - median()
# - min()
# - max()
# - std()
# - var()
# - sum()
# - pivot table

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/yzl727/dataset.csv")
df.head()

,Unnamed: 0,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df["Age"].mean()

38.9218

In [ ]:
df["Gender"].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [ ]:
df.groupby("Gender")["Age"].mean()

Gender
Female    39.238389
Male      38.658237
Name: Age, dtype: float64

In [ ]:
df.groupby("Gender").agg({"Age": "mean"})

              Age
Gender
Female  39.238389
Male    38.658237

In [ ]:
df.groupby("Gender").agg({"Age": ["mean","sum"]})

              Age
             mean     sum
Gender
Female  39.238389  178260
Male    38.658237  210958

In [ ]:
df.groupby("Gender").agg({"Age": ["mean", "sum"],
                       "EstimatedSalary": "mean"})

              Age         EstimatedSalary
             mean     sum            mean
Gender
Female  39.238389  178260   100601.541382
Male    38.658237  210958    99664.576931

In [ ]:
df.groupby(["Gender", "Geography"]).agg({"Age": "mean",
                       "EstimatedSalary": "mean"})

                        Age  EstimatedSalary
Gender Geography
Female France     38.773994     99564.252755
       Germany    40.154233    102446.424124
       Spain      39.199265    100734.107475
Male   France     38.296404    100174.252495
       Germany    39.424772     99905.033959
       Spain      38.649135     98425.687680

In [ ]:
df.groupby(["Gender", "Geography"]).agg({"Age": "mean",
                       "Exited": "count"})

                        Age  Exited
Gender Geography
Female France     38.773994    2261
       Germany    40.154233    1193
       Spain      39.199265    1089
Male   France     38.296404    2753
       Germany    39.424772    1316
       Spain      38.649135    1388

#######################
# Pivot table
#######################

pivot table veri içerisindeki kırılımları incelemeye yarar.

.pivot_table(ilk değişken kırılımlarda ne görmek istediğimizi, satırda ne olsun, sütünda ne olsun)

In [ ]:
df.pivot_table("Age", "Geography", "Exited")

Exited             0          1
Geography
France     37.235966  45.133333
Germany    37.311504  44.894349
Spain      37.839147  44.147700

buradaki değerler yaş bilgisinin ortalamalarıdır.

In [ ]:
df.pivot_table("Age", "Geography", "Exited", aggfunc="std")  #aggfuc fonksiyonu kesişimi ne yapmak istediğimizi için kullanılır

Exited             0          1
Geography
France     10.113206   9.771531
Germany    10.066588   9.555490
Spain      10.190398  10.127583

In [ ]:
df.pivot_table("Age", "Geography", ["Exited", "HasCrCard"])

Exited             0                     1
HasCrCard          0          1          0          1
Geography
France     37.324390  37.199395  45.356846  45.038664
Germany    37.422037  37.267710  45.658228  44.580589
Spain      37.871176  37.825364  44.488889  43.982014

#############################################
# Apply ve Lambda
#############################################

In [ ]:
df[["Age", "EstimatedSalary", "CreditScore"]].apply(lambda x: x/10).head()

   Age  EstimatedSalary  CreditScore
0  4.2        10134.888         61.9
1  4.1        11254.258         60.8
2  4.2        11393.157         50.2
3  3.9         9382.663         69.9
4  4.3         7908.410         85.0

#############################################
# Birleştirme (Join) İşlemleri
#############################################

In [ ]:
import numpy as np
import pandas as pd
m = np.random.randint(1, 30, size=(5, 3))
df1 = pd.DataFrame(m, columns=["var1", "var2", "var3"])

In [ ]:
df1.head()

   var1  var2  var3
0     6    29    12
1    18     6    24
2    25    20    25
3    16    17    11
4    28    13     2

In [ ]:
df2 = df1 + 99

In [ ]:
df2.head()

   var1  var2  var3
0   105   128   111
1   117   105   123
2   124   119   124
3   115   116   110
4   127   112   101

iki dataframe i birleştirmek için .concat() komutu kullanılır

In [ ]:
pd.concat([df1, df2])

   var1  var2  var3
0     6    29    12
1    18     6    24
2    25    20    25
3    16    17    11
4    28    13     2
0   105   128   111
1   117   105   123
2   124   119   124
3   115   116   110
4   127   112   101

burada dümdüz alt alta birleştirdi ve indeksler tekrarladı

In [ ]:
pd.concat([df1, df2], ignore_index=True) #indeks devam eder

   var1  var2  var3
0     6    29    12
1    18     6    24
2    25    20    25
3    16    17    11
4    28    13     2
5   105   128   111
6   117   105   123
7   124   119   124
8   115   116   110
9   127   112   101


#######################
# Merge ile Birleştirme İşlemleri
#######################

In [ ]:
df1 = pd.DataFrame({'employees': ['john', 'dennis', 'mark', 'maria'],
                    'group': ['accounting', 'engineering', 'engineering', 'hr']})

In [ ]:
df1.head()

  employees        group
0      john   accounting
1    dennis  engineering
2      mark  engineering
3     maria           hr

In [ ]:
df2 = pd.DataFrame({'employees': ['mark', 'john', 'dennis', 'maria'],
                    'start_date': [2010, 2009, 2014, 2019]})

In [ ]:
pd.merge(df1, df2)

  employees        group  start_date
0      john   accounting        2009
1    dennis  engineering        2014
2      mark  engineering        2010
3     maria           hr        2019

In [ ]:
pd.merge(df1, df2, on="employees")

  employees        group  start_date
0      john   accounting        2009
1    dennis  engineering        2014
2      mark  engineering        2010
3     maria           hr        2019

In [ ]:
df3 = pd.merge(df1, df2)

In [ ]:
df4 = pd.DataFrame({'group': ['accounting', 'engineering', 'hr'],
                    'manager': ['Caner', 'Mustafa', 'Berkcan']})

In [ ]:
df4.head()

         group  manager
0   accounting    Caner
1  engineering  Mustafa
2           hr  Berkcan

In [ ]:
pd.merge(df3, df4)

  employees        group  start_date  manager
0      john   accounting        2009    Caner
1    dennis  engineering        2014  Mustafa
2      mark  engineering        2010  Mustafa
3     maria           hr        2019  Berkcan